body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-image: linear-gradient(to left, #DD0FC4, 60%, #001858);
    box-shadow: 4px -2px 38px -8px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 4px -2px 38px -8px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 4px -2px 38px -8px rgba(0, 0, 0, 0.64);
}

header h1 {
    color: #fff;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #001858;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-menu .nav-link.active:hover {
    color: #fff;
}

.nav-link{
    transition: 0.2s;
}

.nav-link:hover{
    transform: scale(1.02);
}

.navbar-brand {
    color: #ffeae0;
}


.navbar-toggler {
    background: transparent;
}






/*------------------------------ banner-section ------------------------------*/



#sobre {
    background-image: linear-gradient(180deg, #DD0FC4, 25%, #001858);
    color: #fff;
    height: 60vh;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
}

.play-btn {
    margin: 20px;
    width: 45px;
}

#banner a {
    color: #fff;
    text-decoration: none;
}

.bottom-img {
    width: 100%;
}

#produtos {
    background-color: #DD0FC4;
}

svg {
    position: absolute;
    bottom: -80px;
}

/* STORE */

.carousel-item img {
    width: 100%;
}

.linha {
    width: 460px;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #DD0FC4;
}

#produtos {
    background-image: linear-gradient(180deg, #001858, 50%, #DD0FC4);
    color: white;
    padding-top: 130px;
}

.text-colored {
    color: #DD0FC4;
}

#produtos .container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.7);
    padding: 50px 50px;
    margin-bottom: 100px;
}

#produtos .nav-link {
    color: #DD0FC4;
}

#produtos .nav-pills .nav-link.active {
    background-color: transparent;
    background-image: linear-gradient(120deg, #001858, 60%, #DD0FC4);
    color: #fff;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.5);
}

.tab-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 20px;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
}

.section-title {
    color: #fff;
    font-weight: bold;
}




#testimonials{
    margin-top: 80px;
}


.testimonials {
    border-left: 4px solid;
    border-image: linear-gradient(45deg, #DD0FC4, #001858) 1;
    margin: 50px 0;
}

.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
    object-fit: contain;
}

.user-details {
    display: inline-block;
    font-size: 23px;
    color: orange;
}

.nome {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    color: #7c7b7b;
}


/*  TALK TO US */

#talk-to-us button {
    background-image: linear-gradient(120deg, #DD0FC4, #021e6b19, #DD0FC4);
    background-size: 100%;
    width: 100%;
    color: #ffeae0;
    border: none;
    box-shadow: 0px 3px 11px 0px #dd0fc54b;
    transition: 0.5s ease-in-out;
}

#talk-to-us button:hover{
    background-size: 900%;
    transform:scale(1.02) ;
    color: #ffeae0;
}

#talk-to-us{
    background-image: linear-gradient(180deg, #DD0FC4, 45%, #001858);
    padding-bottom: 50px;
}

#talk-to-us .container{
    background-color: #0017585d;
    padding: 50px 30px;
    border-radius: 0.5rem;
    box-shadow: 0px -3px 10px -2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px -3px 10px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -3px 10px -2px rgba(0,0,0,0.6);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

textarea{
    resize:none;
}

.error{
    color: red;
    font-weight: bold;
}

/* footer */

footer{
    background-image: linear-gradient(to left, #001858, 60%, #DD0FC4);
    color: #fff;
    box-shadow: 4px -2px 38px -8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 4px -2px 38px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px -2px 38px -8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
    header ul {
        margin-top: 20px;
    }

    .tab-pane .col-md-3 {
        margin-top: 50px;
    }
    #sobre{
        height: 90vh;
    }
}

@media (min-width: 767px) and (max-width: 1023px){
    #produtos .col-md-3 {
        width: 50%;
        margin-bottom: 4git0px;
}
}